.header {
    top: 25px;
    left: 255px;
    margin: 0;
    position: absolute;
    width: auto;
    height: auto;
    font-size: 40px;
    letter-spacing: -1px;
    color: #999999;
    font-family: 'HelveticaNeueLTStd_LtCn';
}

.subHeader {
    top: 105px;
    left: 270px;
    margin: 0;
    position: absolute;
    width: auto;
    height: auto;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: -0.4px;
    font-family: 'HelveticaNeueLTStd_Roman';
}

.subHeader sup.er {
    top: 0px;
    left: 0px;
    font-size: 12px;
    position: relative;
}

.ipadImg {
    top: 140px;
    left: 77px;
    position: absolute;
    width: 900px;
    height: 610px;
    background-image: url(../media/images/ipad-img.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.common_popup_icon{
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-transform: matrix(1,0,0,1,950,25);
    transform: matrix(1,0,0,1,950,25);
    /* border: 1px solid red; */
  }