@font-face {
  font-family: 'Wingdings_3';
  src: url('../../media/fonts/Wingdings3.eot');
  src: url('../../media/fonts/Wingdings3.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Wingdings3.woff2') format('woff2'), url('../../media/fonts/Wingdings3.woff') format('woff'), url('../../media/fonts/Wingdings3.ttf') format('truetype'), url('../../media/fonts/Wingdings3.svg#Wingdings3') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wingdings_Rg';
  src: url('../../media/fonts/Wingdings-Regular.eot');
  src: url('../../media/fonts/Wingdings-Regular.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Wingdings-Regular.woff2') format('woff2'), url('../../media/fonts/Wingdings-Regular.woff') format('woff'), url('../../media/fonts/Wingdings-Regular.ttf') format('truetype'), url('../../media/fonts/Wingdings-Regular.svg#Wingdings-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_Roman';
  src: url('../../media/fonts/HelveticaNeueLTStd-Roman.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_Md';
  src: url('../../media/fonts/HelveticaNeueLTStd-Md.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger_BdIt';
  src: url('../../media/fonts/Frutiger-BoldItalic.eot');
  src: url('../../media/fonts/Frutiger-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Frutiger-BoldItalic.woff2') format('woff2'), url('../../media/fonts/Frutiger-BoldItalic.woff') format('woff'), url('../../media/fonts/Frutiger-BoldItalic.ttf') format('truetype'), url('../../media/fonts/Frutiger-BoldItalic.svg#Frutiger-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_LtIt';
  src: url('../../media/fonts/HelveticaNeueLTStd-LtIt.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-LtIt.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-LtIt.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-LtIt.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-LtIt.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-LtIt.svg#HelveticaNeueLTStd-LtIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fleches_LeftRight';
  src: url('../../media/fonts/Fleches-LeftRight.eot');
  src: url('../../media/fonts/Fleches-LeftRight.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Fleches-LeftRight.woff2') format('woff2'), url('../../media/fonts/Fleches-LeftRight.woff') format('woff'), url('../../media/fonts/Fleches-LeftRight.ttf') format('truetype'), url('../../media/fonts/Fleches-LeftRight.svg#Fleches-LeftRight') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_It';
  src: url('../../media/fonts/HelveticaNeueLTStd-It.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-It.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-It.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-It.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-It.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-It.svg#HelveticaNeueLTStd-It') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_MdCn';
  src: url('../../media/fonts/HelveticaNeueLTStd-MdCn.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-MdCn.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger_Lt';
  src: url('../../media/fonts/Frutiger-Light.eot');
  src: url('../../media/fonts/Frutiger-Light.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Frutiger-Light.woff2') format('woff2'), url('../../media/fonts/Frutiger-Light.woff') format('woff'), url('../../media/fonts/Frutiger-Light.ttf') format('truetype'), url('../../media/fonts/Frutiger-Light.svg#Frutiger-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_BdCn';
  src: url('../../media/fonts/HelveticaNeueLTStd-BdCn.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger_It';
  src: url('../../media/fonts/Frutiger-Italic.eot');
  src: url('../../media/fonts/Frutiger-Italic.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Frutiger-Italic.woff2') format('woff2'), url('../../media/fonts/Frutiger-Italic.woff') format('woff'), url('../../media/fonts/Frutiger-Italic.ttf') format('truetype'), url('../../media/fonts/Frutiger-Italic.svg#Frutiger-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fleches_UpDown';
  src: url('../../media/fonts/Fleches-UpDown.eot');
  src: url('../../media/fonts/Fleches-UpDown.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Fleches-UpDown.woff2') format('woff2'), url('../../media/fonts/Fleches-UpDown.woff') format('woff'), url('../../media/fonts/Fleches-UpDown.ttf') format('truetype'), url('../../media/fonts/Fleches-UpDown.svg#Fleches-UpDown') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger_Bd';
  src: url('../../media/fonts/Frutiger-Bold.eot');
  src: url('../../media/fonts/Frutiger-Bold.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Frutiger-Bold.woff2') format('woff2'), url('../../media/fonts/Frutiger-Bold.woff') format('woff'), url('../../media/fonts/Frutiger-Bold.ttf') format('truetype'), url('../../media/fonts/Frutiger-Bold.svg#Frutiger-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_Blk';
  src: url('../../media/fonts/HelveticaNeueLTStd-Blk.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-Blk.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-Blk.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_LtCn';
  src: url('../../media/fonts/HelveticaNeueLTStd-LtCn.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-LtCn.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger_Roman';
  src: url('../../media/fonts/Frutiger-Roman.eot');
  src: url('../../media/fonts/Frutiger-Roman.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/Frutiger-Roman.woff2') format('woff2'), url('../../media/fonts/Frutiger-Roman.woff') format('woff'), url('../../media/fonts/Frutiger-Roman.ttf') format('truetype'), url('../../media/fonts/Frutiger-Roman.svg#Frutiger-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_Cn';
  src: url('../../media/fonts/HelveticaNeueLTStd-Cn.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-Cn.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-Cn.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_Bd';
  src: url('../../media/fonts/HelveticaNeueLTStd-Bd.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd_Lt';
  src: url('../../media/fonts/HelveticaNeueLTStd-Lt.eot');
  src: url('../../media/fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'), url('../../media/fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../../media/fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('../../media/fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro_Rg';
  src: url('../../media/fonts/MinionPro-Regular.eot');
  src: url('../../media/fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'), url('../../media/fonts/MinionPro-Regular.woff2') format('woff2'), url('../../media/fonts/MinionPro-Regular.woff') format('woff'), url('../../media/fonts/MinionPro-Regular.ttf') format('truetype'), url('../../media/fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}